body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f2;
}

header
{
    background-color: #c51f1f;
    color: white;
    padding: 17px 0;
}

.main-nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-nav li
{
    display: inline-block;
    margin: 0 20px;
}

.main-nav a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 550;
}

.main-nav a:hover
{
    color: #813f3f;
}

.homePageImage
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)), url('../src/HomePageImage.png');
    background-size: cover;
    /* Covers the entire container */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Disables repeating the image */
    height: 100vh;
    /* Set the height of the div */
    width: 100%;
    /* Set the width of the div */
    position: relative;
    /* Needed for the pseudo-element positioning */
}

.loginOverlay
{
    position: fixed;
    /* Fixed position to overlay on top of the page */
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 11;
    /* High z-index to ensure it's above other content */
}

.loginContainer
{
    background-color: rgb(238, 201, 201);
    background-image: url('../src/PalmTreesLogin.png');
    /* Path to your image */
    background-size: cover;
    /* Cover the entire container with the image */
    background-position: center;
    /* Center the image */
    padding: 20px;
    border-radius: 5px;
    z-index: 11;
}

.loginContainer h2
{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 510;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        -2px 0 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        0 2px 0 #000;
    /* Thicker outline effect */
}